

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

.font-style{
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
a{
  text-decoration: none;
  color: inherit;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes fadeInContain {
  0%{
    opacity: 0;
    font-size: 0;
  }
  100%{
    opacity: 1;
    font-size: 20px;
  }
}